.select {
  background-color: #0f0c29;
  color: white;
  width: 150px;
  font-size: 15px;
  outline: none;
}

.select:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #7c5fe4;
  border: none;
}
