.barra {
  background: url(https://cdn-icons-png.flaticon.com/512/2851/2851067.png)
    no-repeat 5px 5px;
  background-size: 30px;
  width: 40px;
  border: transparent;
  padding: 10px 10px 10px 10px;
  outline: none;
  transition: 0.5s all;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  background-color: white;
}

.barra:hover {
  width: 300px;
  background: url(https://cdn-icons-png.flaticon.com/512/2851/2851067.png)
    no-repeat 3px 5px;
  background-size: 30px;
  padding: 10px 10px 10px 50px;
  background-color: white;
  color: darkblue;
  box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4;
}
.barra:focus {
  width: 300px;
  color: darkblue;
  background: url(https://cdn-icons-png.flaticon.com/512/2851/2851067.png)
    no-repeat 3px 5px;
  background-size: 30px;
  padding: 10px 10px 10px 50px;
  background-color: white;
  color: darkblue;
  box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4;
}

.title {
  margin-top: 0;
  font-family: Arial;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 5px rgb(8, 0, 122), 0 0 10px #fff, 0 0 15px #fff,
    0 0 20px #03e9f4, 0 0 30px #03e9f4, 0 0 40px #03e9f4;
}
