@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.start {
  padding: 20px 30px; /*forma de boton */
  color: #03e9f4;
  transition: 0.5s;
  letter-spacing: 3px; /*espacio entre letras */
  box-shadow: 0 0 40px #03e9f4;
  border-radius: 50px;
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.start:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 700px #03e9f4;
}

a:link {
  text-decoration: none;
}

.contentsStart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url(https://wallpapercave.com/wp/wp3328597.jpg);
  background-position: center;
  background-size: cover;
}
